<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitee.xiaosongstudy.hopeurlfilecenter.mapper.FileChunkMapper">

    <resultMap id="BaseResultMap" type="com.gitee.xiaosongstudy.hopeurlfilecenter.entity.FileChunk">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="filename" column="file_name" jdbcType="VARCHAR"/>
            <result property="chunkNumber" column="chunk_number" jdbcType="INTEGER"/>
            <result property="chunkSize" column="chunk_size" jdbcType="FLOAT"/>
            <result property="currentChunkSize" column="current_chunk_size" jdbcType="FLOAT"/>
            <result property="totalSize" column="total_size" jdbcType="DOUBLE"/>
            <result property="totalChunks" column="total_chunk" jdbcType="INTEGER"/>
            <result property="identifier" column="identifier" jdbcType="VARCHAR"/>
            <result property="relativePath" column="relative_path" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,file_name,chunk_number,
        chunk_size,current_chunk_size,total_size,
        total_chunk,identifier,relative_path,
        create_time,update_time
    </sql>
</mapper>
