<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitee.xiaosongstudy.security.mapper.SecInterfaceMapper">

    <resultMap id="BaseResultMap" type="com.gitee.xiaosongstudy.security.entity.SecInterface">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="modulePath" column="module_path" jdbcType="VARCHAR"/>
            <result property="moduleName" column="module_name" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="VARCHAR"/>
            <result property="useFlag" column="use_flag" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,module_path,module_name,
        name,path,description,
        version,use_flag
    </sql>
</mapper>
