<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitee.xiaosongstudy.security.mapper.SecMenuMapper">

    <!-- 通过用户编号获取用户权限信息 -->
    <select id="listPermsById" resultType="string">
        select sm.perms
        from sec_menu sm
                 inner join sec_menu_role smr on sm.id = smr.menu_id
                 inner join sec_role sr on sr.id = smr.role_id
                 inner join sec_role_user sru on sr.id = sru.role_id
                 inner join user u on sru.user_id = u.id
    </select>
</mapper>
